.search {
    border: 1px solid #A8E6CF;
    width: 260%;
    outline: none;  
    border-color: #8bc34a;
        
    box-shadow: 0 0 8px #C7F2E1;
  }
  
  .navlinks:hover {
    border-bottom: 3px solid #35e0a1;
  }
  
  
  
  .navbar {
    background-color: #fff; 
    height: 8 0px;
    padding: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Bottom shadow */
    position: sticky;
    /* Sticks navbar at the top */
    top: 0;
    z-index: 1000;
  }